<div class="company col-6 col-md-3 col-lg-2">
  <h4>Company</h4>
  <nav>
    <ul>
      <li>
        {{#link-to "about"}}About Us{{/link-to}}
      </li>
      <li>
        {{#link-to "contact"}}Contact Us{{/link-to}}
      </li>
      {{!-- <li>
      {{#link-to "work"}}Our Work{{/link-to}}
    </li> --}}
      <li>
        {{#link-to "blog"}}Inspiration & Ideas{{/link-to}}
      </li>

    </ul>
  </nav>
</div>
<div class="services col-6 col-md-3 col-lg-2">
  <h4>Services</h4>
  <nav>
    <ul>
      <li>
          {{#link-to "consulting"}}Consulting{{/link-to}}
        </li>
        <li>
          {{#link-to "development"}}Development{{/link-to}}
        </li>
        <li>
          {{#link-to "support"}}Support{{/link-to}}
        </li>
        {{!-- <li>
          {{#link-to "pricing"}}Pricing{{/link-to}}
        </li> --}}
    </ul>
  </nav>
</div>