<div class='row'>
  <nav class="col-3">
    <ul>
      <li>
        {{#link-to "consulting" tag="li"}}Consulting{{/link-to}}
      </li>
      <li>
        {{#link-to "development"}}Development{{/link-to}}
      </li>
      <li>
        {{#link-to "support"}}Support{{/link-to}}
      </li>
      <li>
        {{#link-to "about"}}About{{/link-to}}
      </li>
    </ul>
  </nav>
  <nav class="col-3">
    <ul>
      <li>
        {{#link-to "consulting" tag="li"}}Consulting{{/link-to}}
      </li>
      <li>
        {{#link-to "development"}}Development{{/link-to}}
      </li>
      <li>
        {{#link-to "support"}}Support{{/link-to}}
      </li>
      <li>
        {{#link-to "about"}}About{{/link-to}}
      </li>
    </ul>
  </nav>
</div>