<div class="hero-wrapper {{page.heroColor}}">
  <div class='overlay'>
    <div class="container">
      <div class="row justify-content-end">
        <div class="d-flex align-items-end align-items-md-center col-md-5 hero-col">
          <div class="hero-block">
            <div class="hero-text">
              <h2>{{{page.heroTitle.value}}}</h2>
              <p class="blurb">
                {{{page.heroBlurb.value}}}
              </p>
              <p class="byline">{{page.heroByline}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>