<div class='page-element'>
  {{#if element.body }}
    <div class='element-text'>
      {{element.text}}
      </div>
  {{else if element.image }}
    <div class='element-image'>
      <img src='{{element.image.fullUrl}}' alt='' srcset=''>
    </div>
  {{/if}}
</div>
