{{angled-divider}}
<div class="content-wrapper {{section.layout}}">
  <div class="container">
    {{#each section.column as |column|}}
      {{!-- {{page-elememt column=column}} --}}
    {{/each}}
  </div>
</div>
