<div class='page-element'>
  {{#if element.body.value }}
    <div class='text'>{{element.body.value}}</div>
  {{else if element.image }}
    <div class='image'>
      <img src='{{element.image.fullUrl}}' alt='' srcset=''>
    </div>
  {{/if}}
</div>
