<div class='slideshow'>
  <div class='inner'>
    {{#swiper-container
      class="item-carousel"
      loop=false
      centered=false
      navigation=false
      slidesPerView=5
      spaceBetween=80
      registerAs=itemSwiper
      breakpoints=breakpoints
      }}
      {{#each (shuffle model) as |slide|}}
        {{#swiper-slide class="d-flex justify-content-center align-items-center text-center"}}
          <div class="slide-inner">
            {{#if slide.image}}
              <div class='image'>
                <img src='{{slide.image.fullUrl}}' alt='' srcset=''>
              </div>
            {{/if}}
            {{#if slide.body}}
              <div class='text'>
                {{html-safe slide.body.value}}
              </div>
            {{/if}}
          </div>
        {{/swiper-slide}}
      {{/each}}
    {{/swiper-container}}

  </div>
</div>