.hero-splash {

  .hero-wrapper {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $gray-900;

    &.background-black {
      background-color: $black;
      color: $white;
    }
    &.background-graydark {
      background-color: $gray-900;
      color: $white;
    }
    &.background-gray {
      background-color: $gray-600;
      color: $white;
    }
    &.background-graylight {
      background-color: $gray-200;
    }
    &.background-green {
      background-color: $green;
      color: $white;
    }
    &.background-red {
      background-color: $red;
      color: $white;
    }
    &.background-pink {
      background-color: $pink;
      color: $white;
    }
    &.background-blue {
      background-color: $blue;
      color: $white;
    }

    .overlay {
      background-color: transparent;

      &.overlay-black {
        background-color: rgba($black, 0.4);
      }
      &.overlay-graydark {
        background-color: rgba($gray-900, 0.4);
      }
      &.overlay-gray {
        background-color: rgba($gray-600, 0.4);
      }
      &.overlay-graylight {
        background-color: rgba($gray-200, 0.4);
      }
      &.overlay-green {
        background-color: rgba($green, 0.4);
      }
      &.overlay-red {
        background-color: rgba($red, 0.4);
      }
      &.overlay-pink {
        background-color: rgba($pink, 0.4);
      }
      &.overlay-blue {
        background-color: rgba($blue, 0.4);
      }
    }

    &.hero-left,
    &.hero-center,
    &.hero-right {

      .container-fluid .row {
        height: 300px;

        @include media-breakpoint-up(md) {
          min-height: 450px;
          height: calc(100vh - 37px);
          max-height: 500px;
        }

        @include media-breakpoint-up(lg) {
          min-height: 450px;
          height: calc(100vh - 37px);
          max-height: 500px;
        }
      }
    }

    &.hero-left-tall,
    &.hero-center-tall,
    &.hero-right-tall {

      .container-fluid .row {
        height: 500px;

        @include media-breakpoint-up(md) {
          min-height: 450px;
          height: calc(100vh - 37px);
          max-height: 700px;
        }

        @include media-breakpoint-up(lg) {
          min-height: 450px;
          height: calc(100vh - 37px);
          max-height: 850px;
        }
      }
    }

    &.hero-left,
    &.hero-left-tall {
      .container-fluid .row {
        @extend .justify-content-start;

        .hero-col {
          @extend .d-flex;
          @extend .align-items-end;
          @extend .align-items-md-center;
          @extend .col-md-7;
          @extend .col-lg-6;
          @extend .col-xl-5;
        }
      }
    }

    &.hero-center,
    &.hero-center-tall {
      .container-fluid .row {
        @extend .justify-content-center;

        .hero-col {
          @extend .d-flex;
          @extend .align-items-center;
          @extend .align-items-md-center;
          @extend .col-md-12;
          @extend .col-lg-12;
          @extend .col-xl-12;
        }
      }
    }

    &.hero-right,
    &.hero-right-tall {
      .container-fluid .row {
        @extend .justify-content-end;

        .hero-col {
          @extend .d-flex;
          @extend .align-items-end;
          @extend .align-items-md-center;
          @extend .col-md-7;
          @extend .col-lg-6;
          @extend .col-xl-5;
        }
        // .hero-block {
        //   padding: 15px;
        //   margin: 0 -15px;
        //   background: rgba($blue-dark, .2);
        //   @include media-breakpoint-up(md) {
        //     background: none;
        //     margin: 0;
        //     padding: 0;
        //   }
        // }
      }
    }

    .container-fluid .row{

      .hero-block {
        flex: auto;

        .hero-text {
          font-size: 14px;
          line-height: 1.2rem;


          @include media-breakpoint-up(sm) {
            line-height: 1.4rem;
            font-size: 16px;
          }
          @include media-breakpoint-up(md) {
            font-size: 18px;
            line-height: 1.6rem;
            padding: 1.5rem;
          }
          @include media-breakpoint-up(lg) {
            line-height: 1.6rem;
          }
          @include media-breakpoint-up(xl) {
            line-height: 1.8rem;
          }
        }
        p.byline {
          border-top: 1px solid $gray-400;
          font-family: $font-family-sans-serif;
          font-size: ($font-size-sm * .7);
          line-height: 1.1rem;
          font-weight: 300;
          padding-top: .5rem;

          @include media-breakpoint-up(sm) {
            padding-top: .75rem;
            font-size: ($font-size-sm * .85);
          }
          @include media-breakpoint-up(md) {
            padding-top: 1rem;
            font-size: $font-size-sm;
          }
        }
      }
    }
  }
}
