.hero-splash {

  .hero-wrapper {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $gray-900;

    &.background-black {
      background-color: $black;
      color: $white;
    }
    &.background-graydark {
      background-color: $gray-900;
      color: $white;
    }
    &.background-gray {
      background-color: $gray-600;
      color: $white;
    }
    &.background-graylight {
      background-color: $gray-200;
    }
    &.background-green {
      background-color: $green;
      color: $white;
    }
    &.background-red {
      background-color: $red;
      color: $white;
    }
    &.background-pink {
      background-color: $pink;
      color: $white;
    }
    &.background-blue {
      background-color: $blue;
      color: $white;
    }

    .overlay {
      background-color: transparent;

      &.overlay-black {
        background-color: rgba($black, 0.4);
      }
      &.overlay-graydark {
        background-color: rgba($gray-900, 0.4);
      }
      &.overlay-gray {
        background-color: rgba($gray-600, 0.4);
      }
      &.overlay-graylight {
        background-color: rgba($gray-200, 0.4);
      }
      &.overlay-green {
        background-color: rgba($green, 0.4);
      }
      &.overlay-red {
        background-color: rgba($red, 0.4);
      }
      &.overlay-pink {
        background-color: rgba($pink, 0.4);
      }
      &.overlay-blue {
        background-color: rgba($blue, 0.4);
      }
    }

    &.hero-left,
    &.hero-center,
    &.hero-right {

      .container-fluid .row {
        height: 300px;

        @include media-breakpoint-up(md) {
          min-height: 450px;
          height: calc(100vh - 37px);
          max-height: 500px;
        }

        @include media-breakpoint-up(lg) {
          min-height: 450px;
          height: calc(100vh - 37px);
          max-height: 500px;
        }
      }
    }

    &.hero-left-tall,
    &.hero-center-tall,
    &.hero-right-tall {

      .container-fluid .row {
        height: 500px;

        @include media-breakpoint-up(md) {
          min-height: 450px;
          height: calc(100vh - 37px);
          max-height: 700px;
        }

        @include media-breakpoint-up(lg) {
          min-height: 450px;
          height: calc(100vh - 37px);
          max-height: 850px;
        }
      }
    }

    &.hero-left,
    &.hero-left-tall {
      .container-fluid .row {
        @extend .justify-content-start;
      }
    }

    &.hero-center,
    &.hero-center-tall {
      .container-fluid .row {
        @extend .justify-content-center;
      }
    }

    &.hero-right,
    &.hero-right-tall {
      .container-fluid .row {
        @extend .justify-content-end;
      }
    }

    .container-fluid .row{

      .hero-col {
        @extend .d-flex;
        @extend .align-items-end;
        @extend .align-items-md-center;
        @extend .col-md-7;
        @extend .col-lg-6;
        @extend .col-xl-5;
      }


      .hero-block {

        svg.logo {
          // display: none;
          max-width: 250px;
          margin: 0 auto 5rem;
          padding: 1.5rem;
        }
        .hero-text {
          font-size: 16px;
          line-height: 1.4rem;
          padding: 1.5rem;

          @include media-breakpoint-up(sm) {
            line-height: 1.6rem;
          }
          @include media-breakpoint-up(md) {
            font-size: 18px;
          }
          @include media-breakpoint-up(lg) {
            line-height: 1.8rem;
          }
          @include media-breakpoint-up(xl) {
            line-height: 2.1rem;
          }
        }
        p.byline {
          border-top: 1px solid $gray-400;
          font-family: $font-family-sans-serif;
          font-size: $font-size-sm;
          line-height: 1.1rem;
          font-weight: 300;
          padding-top: 1rem;
        }
      }
    }
  }
}
