.main-nav {
  background-color: $black;
  color: $white;
  font-family: 'Open Sans';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 17px;

  .site-info {
    color: $white;
    padding: 3px 0;
    a {
      color: $white;
      font-size: 26px;
      line-height: 26px;
      padding: 2px 0;
      display: flex;
      font-weight: 300;

      svg {
        height: 26px;
        padding-right: 3px;
        .a620be6a-c613-4032-81cc-7dcf5de97f84{
          fill: $green;
        }
      }

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        color: $white;

        svg {

        .a620be6a-c613-4032-81cc-7dcf5de97f84{
          fill: $white;
        }
      }
      }
    }
  }

  nav {
    text-align: right;
    
    a {
      color: $white;
      padding: 10px 15px;
      display: inline-flex;


      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        color: $green;
      }
    }
    
  }
}