.main-nav {
  background-color: $white;
  color: $black;
  font-family: 'Open Sans';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 17px;
  width: 100%;

  .site-info {
    @extend .d-flex;
    @extend .justify-content-start;
    @extend .align-items-center;
    height: 70px;
    color: $black;

    a {
      color: $black;
      font-size: 26px;
      line-height: 26px;
      padding: 2px 0;
      font-weight: 300;
      display: flex;

      svg {
        height: 26px;
        padding-right: 3px;
        .a620be6a-c613-4032-81cc-7dcf5de97f84{
          fill: $green;
        }
      }

      &:hover {
        text-decoration: none;
        color: $black;

        svg {

        .a620be6a-c613-4032-81cc-7dcf5de97f84{
          fill: $black;
        }
      }
      }
    }
  }

  nav {
    @extend .d-flex;
    @extend .justify-content-end;
    @extend .align-items-center;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: inline-flex;
        margin: 0;
        padding: 0;

        a {
          color: $gray-800;
          padding: 3px 15px;
          display: block;


          &:hover,
          &:focus,
          &.active {
            text-decoration: none;
            color: $green;
          }
        }
      }
    }
  }
  &.hero {
    position: absolute;
    top: 0;
    z-index: 999;
    background-color: transparent;
    color: $black;

    .site-info {
      color: $black;

      a {
        color: $black;
        svg {
          .a620be6a-c613-4032-81cc-7dcf5de97f84{
            fill: $green;
          }
        }
        &:hover {
          color: $black;
          svg {
          .a620be6a-c613-4032-81cc-7dcf5de97f84{
            fill: $black;
          }
        }
        }
      }
    }
    nav {
      ul {
        li {
          a {
            color: $gray-900;

            &:hover,
            &:focus,
            &.active {
              color: $green;
            }
          }
        }
      }
    }
    .hero-background-graydark,
    .hero-background-black {
      .site-info {
        color: $white;

        a {
          color: $white;
          svg {
            .a620be6a-c613-4032-81cc-7dcf5de97f84{
              fill: $green;
            }
          }
          &:hover {
            color: $white;
            svg {
            .a620be6a-c613-4032-81cc-7dcf5de97f84{
              fill: $white;
            }
          }
          }
        }
      }
      nav {
        ul {
          li {
            a {
              color: $white;

              &:hover,
              &:focus,
              &.active {
                color: $green;
              }
            }
          }
        }
      }
    }
    .hero-background-gray,
    .hero-background-green {
      .site-info {
        color: $white;
        a {
          color: $white;
          svg {
            .a620be6a-c613-4032-81cc-7dcf5de97f84{
              fill: $green;
            }
          }
          &:hover {
            color: $white;
            svg {
              .a620be6a-c613-4032-81cc-7dcf5de97f84{
                fill: $white;
              }
            }
          }
        }
      }
      nav {
        ul {
          li {
            a {
              color: $white;

              &:hover,
              &:focus,
              &.active {
                color: $gray-900;
              }
            }
          }
        }
      }
    }
    .hero-background-green {
      .site-info {
        a {
          svg {
            .a620be6a-c613-4032-81cc-7dcf5de97f84{
              fill: $gray-900;
            }
          }
        }
      }
      &.hero-overlay-green {
        .site-info {
          a {
            svg {
              .a620be6a-c613-4032-81cc-7dcf5de97f84{
                fill: $green;
              }
            }
          }
        }
      }
    }
    .hero-background-pink,
    .hero-background-red,
    .hero-background-blue {
      .site-info {
        color: $white;
        a {
          color: $white;
          svg {
            .a620be6a-c613-4032-81cc-7dcf5de97f84{
              fill: $green;
            }
          }
          &:hover {
            color: $white;
            svg {
              .a620be6a-c613-4032-81cc-7dcf5de97f84{
                fill: $white;
              }
            }
          }
        }
      }
      nav {
        ul {
          li {
            a {
              color: $white;

              &:hover,
              &:focus,
              &.active {
                color: $green;
              }
            }
          }
        }
      }
    }
  } //.hero
}
