.article.teaser {
  // position: relative;
  padding: 3vw 0;
  border-bottom: 1px dotted $gray-200;

  @include media-breakpoint-up(md) {
    padding: 3vw 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 2vw 0;
  }
  // &:last-child {
  //   border-bottom: 0;
  // }


  .page-section .outer {
    font-size: .875rem;
    padding: 3vw 0;

    @include media-breakpoint-up(md) {
      padding: 3vw 0;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1rem;
    }
    @include media-breakpoint-up(xl) {
      padding: 2.5vw 0;
    }
    &.divided {
      padding: 1.5vw 0;

      @include media-breakpoint-up(md) {
        padding: 1.5vw 0;
      }
      @include media-breakpoint-up(xl) {
        padding: 1vw 0;
      }
    }
  }
} //.article.teaser

.page-section .outer {
  background-color: #fff;
  width: 100%;

  // position: relative;

  &.hero-active {

    .overlay {
      color: $white;
      padding: calc(6vw + 70px) 0 6vw;

      @include media-breakpoint-up(md) {
        padding: calc(6vw + 70px) 0 6vw;
      }

      @include media-breakpoint-up(xl) {
        padding: 5vw 0;
      }
    }


    &.short {
      .container-fluid .row {
        min-height: 300px;

        @include media-breakpoint-up(md) {
          min-height: 320px;
          height: calc(100vh - 37px);
          max-height: 370px;
        }

        @include media-breakpoint-up(lg) {
          min-height: 320px;
          height: calc(100vh - 37px);
          max-height: 370px;
        }
      }
    }

    &.tall {

      .container-fluid .row {
        height: 400px;

        @include media-breakpoint-up(md) {
          min-height: 400px;
          height: calc(100vh - 37px);
          max-height: 550px;
        }

        @include media-breakpoint-up(lg) {
          min-height: 450px;
          height: calc(100vh - 37px);
          max-height: 700px;
        }
      }
      .section-column {
        display: flex;
      }

    }

  }

  .overlay {
    background-color: transparent;
    position: relative;
    font-size: 1rem;
    padding: 6vw 0;

    @include media-breakpoint-up(md) {
      padding: 6vw 0;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1rem;
    }
    @include media-breakpoint-up(xl) {
      padding: 5vw 0;
      font-size: 1rem;
    }

    &.overlay-black {
      background-color: rgba($black, 0.4);
    }
    &.overlay-graydark {
      background-color: rgba($gray-900, 0.4);
    }
    &.overlay-gray {
      background-color: rgba($gray-600, 0.5);
    }
    &.overlay-graylight {
      background-color: rgba($gray-200, 0.5);
    }
    &.overlay-white {
      background-color: rgba($white, 0.6);
    }
    &.overlay-green {
      background-color: rgba($green, 0.5);
    }
    &.overlay-red {
      background-color: rgba($red, 0.5);
    }
    &.overlay-pink {
      background-color: rgba($pink, 0.4);
    }
    &.overlay-blue {
      background-color: rgba($blue, 0.5);
    }
    &.overlay-purple {
      background-color: rgba($purple, 0.6);
    }
  }


  &.divided {

    .overlay {
      padding: 5vw 0;

      @include media-breakpoint-up(md) {
        padding: 5vw 0;
      }
      @include media-breakpoint-up(lg) {
      }
      @include media-breakpoint-up(xl) {
        padding: 4vw 0;
      }
    }
  } //.divided

  &.background-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  >.ember-view .angled-divider .angled-divider__bottom,
  >.ember-view .angled-divider .angled-divider__bottom {
    fill: $white;
  }

  &.section-background-black {
    background-color: $black;
    color: $gray-400;

    .overlay {
      >.ember-view .angled-divider .angled-divider__bottom,
      >.ember-view .angled-divider .angled-divider__bottom {
        fill: $black;
      }
    }
  } //black

  &.section-background-graydark {
    background-color: $gray-900;
    color: $gray-200;

    .overlay {
      >.ember-view .angled-divider .angled-divider__bottom,
      >.ember-view .angled-divider .angled-divider__bottom {
        fill: $gray-900;
      }
    }
  } //graydark

  &.section-background-gray {
    background-color: $gray-600;
    color: $gray-100;

    .overlay {
      >.ember-view .angled-divider .angled-divider__bottom,
      >.ember-view .angled-divider .angled-divider__bottom {
        fill: $gray-600;
      }
    }
  } //gray

  &.section-background-graylight {
    background-color: $gray-200;
    color: $gray-900;

    .overlay {
      >.ember-view .angled-divider .angled-divider__bottom,
      >.ember-view .angled-divider .angled-divider__bottom {
        fill: $gray-200;
      }
    }
  } //graylight

  &.section-background-blue {
    background-color: $blue;
    color: $gray-100;

    .overlay {
      >.ember-view .angled-divider .angled-divider__bottom,
      >.ember-view .angled-divider .angled-divider__bottom {
        fill: $blue;
      }
    }
  }

  &.section-background-purple {
    background-color: $purple;
    color: $gray-100;

    .overlay {
      >.ember-view .angled-divider .angled-divider__bottom,
      >.ember-view .angled-divider .angled-divider__bottom {
        fill: $purple;
      }
    }
  }

  &.section-background-blue-grad {
    @include gradient-directional($cyan, $blue, 135deg);

  }

  &.section-background-green {
    background-color: $green;
    color: $black;

    .overlay {
      >.ember-view .angled-divider .angled-divider__bottom,
      >.ember-view .angled-divider .angled-divider__bottom {
        fill: $green;
      }
    }
  }

  &.section-background-pink {
    background-color: $pink;
    color: $gray-100;

    .overlay {
      >.ember-view .angled-divider .angled-divider__bottom,
      >.ember-view .angled-divider .angled-divider__bottom {
        fill: $pink;
      }
    }
  }

  &.section-background-red {
    background-color: $red;
    color: $gray-100;

    .overlay {
      >.ember-view .angled-divider .angled-divider__bottom,
      >.ember-view .angled-divider .angled-divider__bottom {
        fill: $red;
      }
    }
  }

  &.section-background-black,
  &.section-background-graydark,
  &.section-background-gray,
  &.section-background-graylight,
  &.section-background-blue,
  &.section-background-green,
  &.section-background-pink,
  &.section-background-red {

    .slide-inner {
      svg {
        opacity: 0.9;
        transition-property: opacity;
        transition-duration: 0.25s;
        transition-timing-function: linear, ease-in-out;

        &:hover {
          opacity: 1;
        }

        path,
        rect {
          fill: $white;
        }
      }
    }
  }
  &.section-background-graylight,
  &.section-background-green {

    .slide-inner {
      svg {
        path,
        rect {
          fill: $gray-900;
        }
      }
    }
    .swiper-next,
    .swiper-prev {
      svg {
        path,
        rect {
          fill: $gray-900;
        }
      }
    }
  }
} //.page-section .outer



.page-section--muted {
  background-color: #fff;
  color: #607d8b;
}

  .image img{
    display: block;
  }

  .swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    position: relative;
    cursor: grab;

    .slide-inner {
      width: 100%;

      .text {

        svg {
          max-width: 100%;
        }
        // padding: 5px;

        // @include media-breakpoint-up(md) {
        //   padding: 10px;
        // }

        // @include media-breakpoint-up(lg) {
        //   padding: 30px;
        // }
      }
    }
  }
  .slideshow {
    overflow: hidden;

    .inner {
      position: relative;
      margin-top: 20px;
      padding: 0px 10px;

      @include media-breakpoint-up(md) {
        margin-top: 40px;
        padding: 0px 50px;
      }
    }
  }
  .swiper-next,
  .swiper-prev {
    z-index: 99;
    position: absolute;
    top: 0px;
    left: -30px;
    width: 30px;
    height: 115px;
    border: none;
    border-radius: 0;
    background: none;
    cursor: pointer;
    -webkit-transform: none;
    transform: none;
    opacity: 0.6;
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      width: 60px;
      height: 100%;
    }

    &.swiper-button-disabled {
      opacity: 0.2;
      cursor: unset;
    }

    svg {
      position: absolute;
      left: 50%;
      top: 0;
      width: 60%;
      height: 100%;

        path {
          fill: #fff;
        }
    }
  }

  .swiper-next {
    left: auto;
    right: -30px;

    svg {
      left: auto;
      right: 50%;
    }
  }


  .section-column {

      .element-text,
      .element-listing,
      .element-image,
      .slideshow  {
        @extend .d-flex;
        @extend .align-items-end;
        @extend .align-items-md-center;

        .inner {
          @extend .w-100;
        }
      }

    .element-image {
      // text-align: justify;
      margin: 0 auto;
    }
  }
  .justify-content-center {
    .section-column {
      &.col {
        max-width: 960px;
      }
    }
  }


  //.page-section{
  //
  //  .section-column {
  //    opacity: 0;
  //  }
  //
  //  &.active {
  //    .section-column {
  //      @extend .animated;
  //      @extend .fadeIn;
  //    }
  //
  //  }
  //}
  .liquid-container,
  .liquid-child {
    width: 100%;
    height: 100%;
  }
