
.icon-smallrobot {
	background-image: url('png/smallrobot.png');
	background-repeat: no-repeat;
}

.icon-smallrobotRobot {
	background-image: url('png/smallrobotRobot.png');
	background-repeat: no-repeat;
}