* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  background: $gray-900;
  height: 100%;
}

body {
  height: 100%;
}

.container-fluid {
  max-width: 1440px;
}
.row {
  @include make-row();

  &:before,
  &:after {
    display: inline-block;
  }
}


// @include media-breakpoint-up(xs) { ... }
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }

img {
  width: auto;
  max-width: 100%;
}


.loading-content {
  height: 100vh;
}
