body {
}

.container-fluid {
  max-width: 1140px;
}
.row {
  @include make-row();
}


// @include media-breakpoint-up(xs) { ... }
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }

img {
  width: auto;
  max-width: 100%;
}


