html {
  font-size: 18px;
}

b,
strong {
  font-weight: $font-weight-bold;
}

h1 {
}

h2 {

}

h3 {

}

p,
h1,
h2,
h3,
h4,
h5 {
  display: block;
  width: 100%;

  &.text-align-left {
    text-align: left;
  }

  &.text-align-center {
    text-align: center;
  }

  &.text-align-right {
    text-align: right;
  }
}

a,
p,
h1,
h2,
h3,
h4,
h5,
span {
  &.black {
    color: $black !important;
  }
  &.graydark {
    color: $gray-900 !important;
  }
  &.gray {
    color: $gray-600 !important;
  }
  &.graylight {
    color: $gray-200 !important;
  }
  &.white {
    color: $white !important;
  }
  &.green {
    color: $green !important;
  }
  &.red {
    color: $red !important;
  }
  &.pink {
    color: $pink !important;
  }
  &.blue {
    color: $blue !important;
  }
  &.bluedark {
    color: $blue-dark !important;
  }
}


.article-title {
  a {
    display: inline-block;
    color: $black;
    padding: 4px 8px;
    border-bottom: 1px solid rgba($gray-600, .3);

    &:hover,
    &:focus {
      text-decoration: none;
      color: $pink;
      border-color: $gray-600;
    }
  }
}

.dev-logos {
  text-align: center;
  font-size: 3.75rem;
}

p.hero-text {
  font-size: 16px;
  line-height: 1.2rem;

  @include media-breakpoint-up(sm) {
    line-height: 1.4rem;
    font-size: 16px;
  }
  @include media-breakpoint-up(md) {
    font-size: 18px;
    line-height: 1.6rem;
  }
  @include media-breakpoint-up(lg) {
    line-height: 1.6rem;
  }
  @include media-breakpoint-up(xl) {
    line-height: 1.8rem;
  }
}

p.byline {
  border-top: 1px solid $gray-400;
  font-family: $font-family-sans-serif;
  font-size: ($font-size-sm * .7);
  line-height: 1.1rem;
  font-weight: 300;
  padding-top: .5rem;

  @include media-breakpoint-up(sm) {
    padding-top: .75rem;
    font-size: ($font-size-sm * .85);
  }
  @include media-breakpoint-up(md) {
    padding-top: 1rem;
    font-size: $font-size-sm;
  }
}
