// Colors
$black:           #02010B;
$gray-dark:       #394244;
$gray:            #AFB9BB;
$gray-light:      #C5CDCD;
$gray-lighter:    #FEFFFE;
$blue-dark:       #08161A;
$blue:            #1861A3;
$green:           #88ae3d;
$pink:            #8E0A4C;