<div class="outer loading">
  <div class='overlay'>
    <div class="content-wrapper">
      <div class="container-fluid">
        <div class='row justify-content-center align-items-center'>
          <div class='section-column loading-content col-12'>
            {{ember-spinner}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>